/*======================================
  Global CSS Variable Declarations
========================================*/
:root {
  --color-main: #2001fe;
  --color-sub: #ec2c1c;
  --color-accent: #fbf200;
  --color-dark: #656565;
  --color-darker: #444;
  --color-light: #f9f9f9;
  --color-bg: #fffdea;
  --font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
  --special-font: 'Leckerli One', Arial, Helvetica, sans-serif;
}

/*======================================
  Base CSS (Default Style)
========================================*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: initial;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-dark);
  font-size: 1.3rem;
  line-height: 1.8;
  font-weight: 300;
  box-sizing: border-box;
  font-family: var(--font-family);
}

button {
  font-family: var(--font-family);
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: var(--font-family);
  color: var(--color-main);
}


h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.4rem;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  position: absolute;
  left: -9999px;
}

a {
  color: var(--color-sub);
  text-decoration: underline;
  transition: all 0.1s ease-in-out;
}

a:hover {
  color: var(--color-primary-light);
}

strong,
em {
  color: var(--color-primary-light);
}

img {
  width: 100%;
}

.row>div {
  box-sizing: border-box;
}

.container {
  box-sizing: border-box;
}


input {
  font-family: var(--font-family);
  color: var(--color-darker);
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  border: 2px solid var(--color-accent);
  font-weight: 500;
  transition: border 0.3s ease-in-out;
}

input:focus {
  border: 2px solid var(--color-accent);
}


.card {
  border: none
}

.carousel-control-prev i,
.carousel-control-next i {
  font-size: 46px;
  color: var(--color-dark);
}

.carousel-control-prev {
  margin-left: 20px;
}

.carousel-control-next {
  margin-right: 20px;
}

.glider-dots {
  display: none;
}

.glider-prev,
.glider-next {
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-sub);
  color: var(--color-light);
  padding: 10px;
  width: 20px;
  font-size: 22px;
  height: 20px;
  border-radius: 50%;
}

.glider-next.disabled,
.glider-prev.disabled {
  color: var(--color-light);
}

.glider-next:hover,
.glider-prev:hover,
.glider-next:focus,
.glider-prev:focus {
  color: var(--color-accent)
}


/*======================================
  Reusablbe Components Style 
========================================*/
.content-box {
  width: 90%;
  margin: 0 auto;
}

/* Button Style */
.btn {
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  padding: 8px 36px;
  color: var(--color-light) !important;
  border-width: 2px;
  border-style: solid;
  border-right-width: 4px;
  border-bottom-width: 3px;
  text-decoration: none;
}

.btn i {
  padding-left: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus,
button {
  outline: none !important;
  box-shadow: none !important;
}

.btn:active {
  transform: translateY(3px);
  border-width: 2px !important;
}

.btn-main {
  background: var(--color-sub);
  border-color: var(--color-main);
}

.btn-accent {
  color: var(--color-darker) !important;
  background: var(--color-accent);
  border-color: var(--color-sub);
}

/* Social Menu */
.social-menu {
  width: 34rem;
  margin: auto;
}

.social-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social-menu ul li {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
  background-color: var(--color-accent);
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

.social-menu ul li a {
  color: var(--color-main);
  text-decoration: none;
  font-size: 1.8rem;
  text-align: center;
}

.social-menu ul li:hover {
  background-color: var(--color-sub);

}

.social-menu ul li a:hover {
  color: var(--color-accent);
}

/* Default Page Style */
.page-header,
.sp-header {
  padding: 30px 0;
  margin-top: 80px;
  text-align: center;
}

.page-header__title,
.sp-header__title {
  font-size: 32px;
  margin: 10px 0;
  color: var(--color-main);
  font-weight: 600;
}

.page-header__about {
  width: 60%;
  margin: 0 auto;
}

.page-header__icon,
.load-more__icon,
.sp-header__icon {
  font-size: 32px;
  color: var(--color-sub);
}

@media screen and (max-width: 720px) {
  .page-header__about {
    width: 100%;
  }
}


/*======================================
  Header Section (Main) Style
========================================*/
header .navbar {
  border-bottom: 2px solid var(--color-sub);
}

header a,
header a:hover {
  text-decoration: none;
}

header a.navbar-brand #nav-title {
  color: var(--color-dark);
  font-size: 18px;
  font-weight: 600;
}

.navbar.navbar-light {
  background-color: var(--color-accent);
}

header a.navbar-brand #nav-title {
  color: var(--color-main);
  font-family: var(--special-font);
  font-weight: normal;
  font-size: 2.4rem;
}

header a.navbar-brand img {
  margin: 0;
  width: 36px;
  padding-bottom: 12px;
  padding-right: 5px;
}

.nav-item {
  padding: 0 20px;
  transition: all .1s ease-in-out;
  font-size: 13.5px;
  font-weight: 500;
}

.nav-item a:hover {
  color: var(--color-sub);
}

.nav-item a {
  color: var(--color-darker);
}

.nav-item a i {
  padding-right: 5px;
}

.navbar-light .navbar-toggler {
  border: 3px solid var(--color-sub);
  border-radius: 50%;
  width: 30px;
  height: 39px;
}

.navbar-light .navbar-toggler:focus {
  outline: none;
}

.toggle-icon {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-main);
}

@media screen and (max-width: 992px) {
  .navbar-collapse {
    height: 95vh;
    text-align: center;
  }

  .navbar-collapse .navbar-nav {
    margin-top: 20px;
    border-top: 2px solid var(--color-main);
  }

  .navbar-collapse .navbar-nav li {
    padding: 10px;
  }

  .navbar-collapse .navbar-nav li:first-of-type {
    padding-top: 40px;
  }

  .navbar-collapse .contact {
    margin-top: 20px;
    text-align: left;
  }

}

/*======================================
  Header Section (Front Page) Style
========================================*/
.home-header .navbar-nav {
  visibility: hidden;
}

@media screen and (max-width: 992px) {
  .home-header .navbar-nav {
    visibility: visible;
  }

  .hero-footer__nav {
    display: none !important;
  }
}

/*======================================
  Front Page (Home) Style
========================================*/

.home .hero-sec {
  background-color: var(--color-main);
  position: relative;
  height: 100vh;

}

.home .hero-sec .hero-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-light);
}

.home .hero-sec .hero-box__img {
  max-width: 350px;
}

.home .hero-sec .hero-box__title {
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--color-accent);
  font-size: 26px;
}

.hero-box__text {
  line-height: 1.8;
  padding-bottom: 20px;
}

.hero-footer {
  position: absolute;
  bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  justify-self: center;
}

.hero-footer__nav ul {
  display: flex;
  margin-top: 10px;
  padding-left: 15px;
}

.hero-footer__nav ul li a {
  color: var(--color-accent);
  text-decoration: none;
  font-size: 13.5px;
  font-weight: 500;
}

.hero-footer__nav ul li a:hover {
  color: var(--color-sub);
}

.hero-footer .social-menu {
  margin-right: 0;
}

@media screen and (max-width: 992px) {
  .home .hero-sec .hero-box__img {
    max-width: 320px;
  }

  .hero-footer__nav {
    display: none !important;
  }

  .social-menu {
    min-width: 50%;
    width: 60%;
    margin: 0 auto !important;
  }
}

/*======================================
  Blog Page Style 
========================================*/

/* Featured Posts */
.featured-posts {
  background-color: var(--color-bg);
  padding: 50px;
  box-sizing: border-box;
  border-radius: 10px;
}

.featured-post {
  text-align: center;
}

.featured-post__meta,
.blog-post__meta,
.sp-post__meta,
.project-info__meta {
  padding-bottom: 5px;
  font-weight: 600;
  color: var(--color-darker);
}

.featured-post__meta-date,
.blog-post__meta-date,
.sp-post__meta-date {
  padding-bottom: 20px;
}

.featured-post__meta-tags span a::before,
.blog-post__meta-tags span a::before,
.sp-post__meta-tags span a::before,
.project-info__meta-tags span a::before {
  content: "#";
}

.featured-post__meta-tags span a,
.blog-post__meta-tags span a,
.sp-post__meta-tags span a,
.project-info__meta-tags span a {
  background-color: var(--color-sub);
  color: var(--color-light);
  padding: 3px 12px;
  border-radius: 2px;
  margin: 0 2px;
  text-transform: lowercase;
  text-decoration: none;
}

.featured-post__title h2 a,
.blog-post__title h2 a,
.project-info__title h2 a {
  font-weight: 600;
  color: var(--color-main);
  margin-top: 8px;
  text-decoration: none;
}

.featured-post__title,
.blog-post__title,
.project-info__title {
  padding: 8px 0;
}

.featured-post__title .emoji-icon {
  font-size: 32px;
}

.featured-post__content {
  width: 85%;
  margin: auto;
}

.featured-post__permalink,
.blog-post__permalink,
.project-info__permalink {
  margin-top: 20px;
}

/* Blog Posts */
.blog-posts,
.projects-box {
  margin: 40px auto;
  box-sizing: border-box;
}

.blog-posts>.row>div {
  display: flex;
  align-self: stretch;
}

.blog-post {
  border: 2.5px solid var(--color-main);
  border-radius: 5px;
  padding: 30px;
}

.blog-post__meta-date {
  padding: 0;
  padding-top: 10px;
}

.blog-post__content,
.project-info__content {
  text-align: justify;
}

.blog-posts .row>div {
  margin-bottom: 33px;
}

.load-more {
  text-align: center;
}

.load-more a.btn {
  font-size: 11px;
  padding: 8px 60px;
}

/*======================================
  Single Post (Blog) Style
========================================*/
.sp-post__meta-tags span a {
  color: var(--color-darker);
  background-color: var(--color-accent);
}

.sp {
  max-width: 65%;
  margin: auto;
}

.sp-thubnails img {
  border-radius: 5px;
  width: 100%;
}

.sp-content {
  margin: 60px 0;
}

@media screen and (max-width: 900) {
  .sp {
    width: 100%;
    max-width: 100%;
  }
}

/*======================================
  Projects Page Style
========================================*/

.projects .page-header {
  margin-top: 32px;
  padding-bottom: 0;
}

.project-info__thumbnails {
  margin: .5px 1px;
}

.project-scroller {
  margin-top: 80px;
  padding: 0 60px;
}

.project-scroller .glider-contain {
  margin: 20px;
}

.glider .featured-post {
  background-color: var(--color-bg);
  padding: 20px 10px;
  margin: 10px 20px 10px 0px;
  border-radius: 5px;
  box-shadow: 3px 0px 6px 3px #16161609;
  border: 3px solid var(--color-accent);
}

.project-scroller .featured-post__content {
  text-align: justify;
  padding: 0 !important;
  width: 90%;
}

.projects-box .card {
  box-sizing: border-box;
  margin-bottom: 15px;
}

.project-info {
  border: 2.5px solid var(--color-main);
  border-radius: 3px;
}

.project-info__about {
  padding: 20px;
}

.card-columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

@media (max-width: 80em) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 50em) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin: 0;
    padding: 0;
  }

  .projects-sec .container {
    padding: 0;
    margin: 0;
  }
}

/*======================================
  Page Post Type
========================================*/


.page-single__header {
  margin-top: 65px;
  background-color: var(--color-main);
  margin-bottom: 40px;
  color: var(--color-light);
  padding: 40px 0;
  text-align: center;
}

.page-single__header p {
  max-width: 70%;
  padding: 1%;
  margin: auto;
}

.page-icon {
  font-size: 28px;
  display: inline-block;
  margin-bottom: 10px;
}

/*======================================
  Project Page Single
========================================*/
.projects-single__header {
  margin-top: 65px;
  background-color: var(--color-main);
  margin-bottom: 40px;
  color: var(--color-light);
}

.project__header {
  padding: 40px 0;
}


.project__header-title {
  color: var(--color-accent);
}

.project__header-info {
  text-align: right;
}

.project__header-info--title {
  color: var(--color-accent);
  font-size: 16px;
}

.project__header-info--date {
  font-weight: 600;
  color: var(--color-accent);
}

.project__header-info--link a,
.project__header-info-1--link a {
  color: var(--color-accent);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.project__header-info-1--link {
  display: none;
}

@media (max-width:1080px) {
  .projects-single__header-2 {
    display: none;
  }

  .project__header-info-1--link {
    display: block;
  }
}

/*======================================
  Post Content Style
========================================*/

.post-content {
  margin: 60px 0;
}

.post-content h1,
.post-content h2,
.post-content h3 {
  padding-bottom: 8px;
  border-bottom: 2px solid var(--color-sub);
}

.post-content img {
  width: 100%;
}

.post-content p {
  text-align: justify;
}

/*======================================
  404 Page Style
=======================================*/

.page-404 {
  padding: 250px 0;
  background-color: var(--color-sub);
  text-align: center;
}

.page-404 img {
  width: 400px;
  margin: auto;
}

.page-404 h2 {
  max-width: 80%;
  margin: auto;
  padding: 40px 0;
  color: var(--color-accent);
}

/*======================================
  About Me Style
========================================*/
.aboutme{
  padding: 80px 0;
}

.aboutme__header{
  text-align: center;
}

.aboutme__header h2, .aboutme__header p{
  margin: 0;
  padding: 0;
}

.aboutme__img{
  height: 100px;
  background-color: var(--color-accent);
  text-align: center;
  margin: auto;
  padding: 20px;
  margin-bottom: 60px;
  position: relative;
  background-color: var(--color-main);
  border-radius: 8px 8px 0 0;
}

.aboutme__img img{
  position: absolute;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  object-fit: cover;
  object-position: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -15%);
  border: 3px solid var(--color-sub);
}

.aboutme__email{
  color: var(--color-sub);
  font-size: 15px;
  font-weight: 600;
  display: block;
}

.aboutme__header a{
  font-weight: 600;
  color: var(--color-main);
}

.aboutme__summary{
  padding-top: 40px;
  text-align: justify;
  padding-bottom: 20px;
}

.aboutme__summary h2{
  background-color: var(--color-accent);
  display: inline-block;
  padding: 3px 15px 3px 5px;
}

.aboutme__box .card{
  background-color: var(--color-bg);
  border: 2px solid var(--color-accent);
  border-radius: 5px;
  margin-bottom: 10px;
}

.aboutme__box .card-content{
  padding: 30px;
}


.aboutme__box .card-title{
  text-align: center;
  background-color: var(--color-accent);
  margin: 0 auto;
  padding: 5px 0;
  margin-bottom: 30px;
  width: 60%;
  font-size: 20px;
}


.aboutme__box .edu__img{
  text-align: center;
}

.aboutme__box .edu__img img{
  text-align: center;
  width: 60px;
  height: 60px;
  object-fit: contain;
  object-position: center;
}

.aboutme__box  .edu__org{
  color: var(--color-sub);
  font-size: 18px;
}

.aboutme__box .edu__degree{
  font-weight: normal;
}


.aboutme__box .project__icon{
  width: 50px;
  height: 50px;
  background-color: var(--color-light);
  border: 2px solid var(--color-accent);
  text-align: center;
  border-radius: 50%;
  margin: auto;
}

.aboutme__box .project__icon span{
  font-size: 26px;
}

.aboutme__box .card-info__title{
  color: var(--color-sub);
  font-size: 18px;
}

.aboutme__box .card-info__tags{
  color: var(--color-accent);
  background-color: var(--color-main);
  font-weight: 600;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 11px;
  margin-left: 8px;
  text-transform: lowercase;
}

.aboutme__box .card-info__summary{
  padding: 0;
  margin: 0;
}

.aboutme__box .card-info__link{
  color: var(--color-main);
}



.aboutme__box .skillsets .card-info__tags{
  margin: 0;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 5px;
  text-transform: none;
}

.aboutme__box .card-columns{
  column-count: 2;
}

@media (max-width: 780px){
  .aboutme__box .card-columns{
    column-count: 1;
  }
}

@media (max-width: 990px){

  .aboutme__box .card-info__tags{
    margin-left: 0;
  }
}

@media (min-width: 1800px){
  .aboutme__box .card-columns{
    column-count: 3;
  }
}

/*======================================
  Footer Section Style
========================================*/
footer {
  background-color: var(--color-main);
  color: var(--color-light);
}

.footer-top {
  text-align: center;
  padding: 60px 0;
}

.footer-brand {
  margin-bottom: 40px;
}

.footer-brand img {
  width: 100px;
}

.footer-brand__title h2 {
  font-family: var(--special-font);
  font-size: 32px;
  margin-top: 12px;
  color: var(--color-light);
}

.footer-brand__title,
.footer-brand__title:hover {
  text-decoration: none;
}

.footer-bottom {
  font-weight: 500;
  border-top: 5px solid var(--color-sub);
  padding: 12px 0;
  color: var(--color-darker);
  background-color: var(--color-accent);
}

.subscriber-form {
  width: 360px;
  margin: auto;
  margin-bottom: 32px;
  position: relative;
}

.subscriber-form input[type="email"] {
  width: 360px;
  padding: 10px;
  background-color: #07003b50;
  color: var(--color-accent);
  opacity: 1;
}

.subscriber-form input[type="email"]::placeholder {
  color: var(--color-accent);
  opacity: 0.8;
}

.subscriber-form button {
  position: absolute;
  right: -18px;
  top: 6.5px;
  padding: 7px 15px;
}

.footer-menu {
  text-transform: lowercase;
}

.footer-menu ul li a::before {
  content: "# ";
}

.footer-menu ul li a {
  color: var(--color-darker);
  transition: 0.1s color;
}

.footer-menu ul li a:hover {
  color: var(--color-sub);
}

@media screen and (max-width: 80rem) {
  .footer-menu {
    display: none;
  }

  .footer-bottom .row {
    width: 80%;
  }
}